body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #058614;
    flex-direction: column;
}

div {
    display: flex;
    justify-content: center;
}

.logo {
    margin-bottom: 20px; /* Espaço entre as imagens */
}

img {
    max-width: 75%; /* Ajuste o tamanho das imagens */
    height: auto;
}
